<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:url" content="https://lordryu-dev.github.io/astralbrain/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="脳内会議用ツール Astral Brain" />
  <meta property="og:description" content="脳内会議のメモを残すために作ったアプリです。2つ以上の相反する感情がある時にお使いください。" />
  <meta property="og:site_name" content="脳内会議用ツール Astral Brain" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="X0rdRyu_LORD" />
  <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
  <link rel="stylesheet" href="css/main.css">
  <title>Astral Brain</title>
</head>
<body>
  <div id="app">
    <h1>脳内会議用ツール Astral Brain ver1.0</h1>
    <p>画面を閉じても内容が保持されるようになりました！</p>
    <p>バグを発見した方はTwitterのID:X0rdRyu_LORDまで。</p>
    <form v-on:submit.prevent>
        <label for="name">名前</label>
        <input id="name" type="text" v-model="newName"> <!-- 名前入力欄 -->
        <ul v-cloak> <!-- 名前一覧 -->
          <li v-cloak v-for="(name, index) in names">
            <input type="radio" v-bind:value="name" name="names" v-bind:id="name" v-model="newName"> <!-- 名前選択ボタン -->
            <label v-cloak v-bind:for="name">{{ name }}</label>
            <button v-on:click="deleteName(index)">削除</button> <!-- 削除ボタン -->
          </li>
        </ul>
        <label for="text">本文</label> <!-- 本文入力欄 -->
        <textarea id="text" v-model="newText" rows="4" cols="32"></textarea>
      <button v-on:click="addResponse">投稿</button> <!-- 投稿ボタン -->
      <button v-on:click="reset">投稿をリセット</button> <!-- リセットボタン -->
    </form>
    <ul>
      <li v-cloak v-for="(response, index) in responses">
        <div class="responses" v-bind:class="{ done:response.check }">
          <h3 v-cloak>
            <input type="checkbox" v-model="response.check">
            {{ response.name }}
          </h3>
          <p v-cloak >
            {{ response.text }}
          </p>
        </div>
        <br>
        <button v-on:click="deleteResponse(index)">削除</button>
      </li>
    </ul>
    <!-- <pre>{{ $data }}</pre> -->
  </div>
  <script src="https://unpkg.com/vue-cookies@1.8.1/vue-cookies.js"></script>
  <script src="https://unpkg.com/vue@3.1.5"></script>
  <script src="js/main.js"></script>
</body>
</html>
